* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: #D8E3E7;
  }

header {
    background: #212529;
    align-items: center;
    justify-content: space-between;
  }

  picture img{
    width: auto;
    max-height: 100px;
  }

.section{
    background-color: #424642;
    width: 100%;
  }

  .header {
    height: 100vh;
    display: flex;
    color: #fff;
    align-content: stretch;
    justify-content: center;
  }
  
  .content {
    max-width: 40rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
  }

  .header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .header-video video {
      min-width: 100%;
      min-height: 100%;
    }
  }
  
  
  .header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .30;
  }
  
  .header-content {
    z-index: 2;
    .header-content h1 {
      font-size: 3rem;
      letter-spacing: 10px;
      margin-bottom: 0;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .header-content p {
      font-size: 1.5rem;
      padding-bottom: 2rem;
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .header-content a {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
  }
  
  .menuinicio {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    background: #000000;
    min-height: 45px;
    font-size: 1rem;
    list-style: none;
  }
  
  .menuinicio a{
    text-decoration: none;
    color: whitesmoke;
  }

  .menuinicio ul{
    display: flex;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    list-style: none;
    justify-content: center;
    margin-bottom: 0px;
  }
  
  .menuinicio ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
  }
  
  .menu {
    display: flex;
    background: #000000;
    min-height: 45px;
    list-style: none;
    flex-direction: column;
  }
    .menu a{
      text-decoration: none;
      color: whitesmoke;
    }
    .menu ul{
      display: flex;
      flex-direction: row;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1.5rem;
      list-style: none;
      justify-content: space-evenly
    }
    .menu ul li{
      padding-left: 0rem;
    }
  
  
  a:hover {
    background-color: rgb(184, 178, 177);
    transition: all 0.5s;
 
  }
  
  .boton {
    background: #000000;
    color: #ffff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 300px;
    .button button{
      outline: none;
      cursor: pointer;
      border: none;
      padding: 0.3rem 1.5rem;
      margin-bottom: 3px;
      font-family: 'Dongle', sans-serif;
      position: relative;
      display: inline-block;
      letter-spacing: 0.05rem;
      font-weight: 700;
      font-size: .7rem;
      border-radius: 500px;
      overflow: hidden;
      background: #f3c93f;
      color: rgb(0, 0, 0);
     }
     .button button:hover{
      background-color: #C06014; 
   }  
  }

   
   .btn {
     margin-bottom: 1.3rem;
     margin-left: 47.5%;
   }

   .btn-primary{
    background-color: #2b2f35;
    border-color: #17253a;
   }

   

.site-footer
{
  background-color:#000c3a;
  padding:45px 0 20px;
  font-size:1rem;
  line-height:24px;
  color:#737373;
  & hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  & hr.small
  {
    margin:20px 0
  }
  & h6
  {
    color:rgb(255, 255, 255);
    font-size:1rem;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  & a
  {
    color:#737373;
  }
  & a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
}

.gridContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }
  .gridContainerImg{
    display: flex;
    justify-content: center;
  }
  
  
  .gridForm{
    display: grid;
  }

  .footer-links
  {
    padding-left:0;
    list-style:none;
    & li
    {
    display:block;
    }
    & a
  {
    color:#737373;
    text-decoration: none;
  }
    & a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
    .footer-links.inline li
  {
    display:inline-block;
  }
}

.rrss{
    bottom: 0!important;
    & ul {
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(40%, -70%);
    }
    & ul li {
      list-style: none;
    }
    & ul li a {
      width: 50px;
      height: 50px;
      background-color: #fff;
      text-align: center;
      line-height: 50px;
      font-size: 1.5rem;
      margin: 0 10px;
      display: block;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      border: 3px solid #fff;
      z-index: 1;
    }
    & ul li a .icon {
      position: relative;
      color: #262626;
      transition: .5s;
      z-index: 3;
    }
    & ul li a:hover .icon {
      color: #fff;
      transform: rotateY(360deg);
    }
    & ul li a:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #f00;
      transition: .5s;
      z-index: 2;
    }
    & ul li a:hover:before {
      top: 0;
    }
    & ul li:nth-child(1) a:before{
      background: #3b5999;
    }
    & ul li:nth-child(2) a:before{
      background: #55acee;
    }
    & ul li:nth-child(3) a:before {
      background: #0077b5;
    }
    & ul li:nth-child(4) a:before {
      background: #dd4b39;
    }
  }

  .copyright-text
{
  margin:0
} 
  
.formulario{
  margin: 0 auto;
  text-align: center;
  font-family: 'Dongle', sans-serif;
  font-size: .9rem;
  background: #c8c9c2a8;
  border-radius: 62px 17px 62px 17px;
  box-shadow: 0px 0px 63px -1px rgba(0,0,0,0.75);
  width: 350px;
  margin-bottom: 35px;
  margin-top: 35px;
  .formulario h1{
    text-align: center;
    font-family: 'Dongle', sans-serif;
    font-size: 1.3rem;
 }
 }
 
  /* MEDIA QUERIES */

@media screen and (max-width: 1040px){

  .rrss ul {
    transform: translate(0%, -70%);
  } 
}

@media screen and (max-width: 768px){
  nav .navegacion{
    flex-direction: column;
 }
 
 .rrss ul {
  transform: translate(5%, -200%);
 }

 .rrss ul li a {
  width: 30px;
  height: 30px;
  font-size: 1rem;
  line-height: 28px;
}

  .menuinicio ul li {
    font-size: .9rem;
    padding: 5px;
 }

  .site-footer [class^=col-]
 {
    margin-bottom:30px
 }

  .header-content h1 {
    font-size: 2rem;
    letter-spacing: 10px;
 }

  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }

  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
@media screen and (max-width: 425px){
    nav .navegacion{
    flex-direction: column;
  }

  .nav-link {
    display: block;
    padding: 0rem 0rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    flex-direction: nowrap;
}

  .btn {
    margin-left: 42%;
  }

  .gridContainer {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }

  .header-content h1 {
    font-size: 1rem;
    letter-spacing: 0px;
  }

  .header-content p {
    font-size: .7rem;
  }
  .menuinicio ul li {
    font-size: .6rem;
    padding: 5px;
 }
 
 .menu {
   font-size: .5rem;
   & ul{
     display: flex;
     font-size: 1rem;
     flex-direction: row;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     list-style: none;
     justify-content: space-evenly;
     flex-wrap: nowrap;
    }
    & ul li {
      padding: 5px;
   }
}


 .rrss ul {
  transform: translate(-142%, -50%);
 }

 .rrss ul li a {
  width: 30px;
  height: 30px;
  font-size: 1rem;
  line-height: 28px;
}

}
@media screen and (max-width: 375px){

  .rrss ul {
    transform: translate(-130%, -50%);
   }

}

@media screen and (max-width: 320px){

  .nav-link {
    padding: 0.2rem 0.7rem;
}

.menu{
  justify-content: center;
  & ul {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.6rem;
    list-style: none;
    flex-wrap: nowrap;
  }
}


  .formulario{
    width: auto;
    & h1 {
      font-size: .8rem;
    }
  }
  .gridContainer{
    grid-template-rows: 100px 50px;
  }

  form{
    padding-top: 50px
  }

  .rrss ul {
    transform: translate(-120%, -50%);
  }
  .rrss ul li a {
   width: 30px;
   height: 30px;
   font-size: 1rem;
   line-height: 28px;
 }
  
  
  .gridSectionImg{
    width: 100%;
  }

  .btn {
    margin-left: 39%;
  }

  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none;
    & li
    {
      display:inline-block;
      margin-bottom:4px
    }
    & li.title
    {
      margin-right:15px;
      text-transform:uppercase;
      color:#96a2b2;
      font-weight:700;
      font-size:13px
    }
    & a{
      background-color:#eceeef;
      color:#818a91;
      font-size:16px;
      display:inline-block;
      line-height:44px;
      width:44px;
      height:44px;
      text-align:center;
      margin-right:8px;
      border-radius:100%;
      -webkit-transition:all .2s linear;
      -o-transition:all .2s linear;
      transition:all .2s linear
    }
    & a:active,& a:focus,& a:hover
    {
      color:#fff;
      background-color:#29aafe
    }
    &.size-sm a
    {
      line-height:34px;
      height:34px;
      width:34px;
      font-size:14px
    }
    & a.facebook:hover
    {
      background-color:#3b5998
    }
    & a.twitter:hover
    {
      background-color:#00aced
    }
    & a.linkedin:hover
    {
      background-color:#007bb6
    }
      & a.dribbble:hover
    {
      background-color:#ea4c89
    }
  }
}
  
  
  
  
  
  
  
  
  